<h1>List of Teachers</h1>

<body class="style">

<div class="bodwrapper">
<%= link_to "create teacher", new_teacher_path %>
<% @teachers.each do |teacher| %>
<p>
<span>Name: <strong><%= teacher.firstname %> <%= teacher.lastname %></strong></span>
<span>| Age: <%= teacher.age %> </span><br>
<span>Salary: $<%= teacher.salary %></span>
<span>| Education: <%= teacher.education %></span><br>
<%= link_to "Show teacher", teacher_path(teacher) %> 
<%= link_to "Edit teacher", edit_teacher_path(teacher) %> 
<%= link_to "delete", teacher_path(teacher), method: :delete %>
<% end %>
</p>
</div>
</body>