<h1>Teachers#show</h1>
<p>Find me in app/views/teachers/show.html.erb</p>
<p>First Name:<%= @teacher.firstname %> 
Last Name: <%= @teacher.lastname %><br>
Age:<%= @teacher.age %> <br>
Salary:<%= @teacher.salary %>
Education:<%= @teacher.education %>
</p>